<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263360887282-3p9vla7bn5bv5nub0oqmclb3pl60s6hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263360887282-3p9vla7bn5bv5nub0oqmclb3pl60s6hn</string>
	<key>API_KEY</key>
	<string>AIzaSyDePWYTTwt_5jKB_W_2NBxWtsNqO9Ip_VU</string>
	<key>GCM_SENDER_ID</key>
	<string>263360887282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TsaybelDev.SmallTalk</string>
	<key>PROJECT_ID</key>
	<string>smalltalk-1b9b1</string>
	<key>STORAGE_BUCKET</key>
	<string>smalltalk-1b9b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263360887282:ios:11811a5033e50b7646536b</string>
</dict>
</plist>